In [88]:
import pandas as pd
import glob
path = r'/Users/alyssaliguori/Desktop/pol-contr/data'
all_csv = glob.glob(path + "/*.csv")
list_csv = []

for csv in all_csv:
    df = pd.read_csv(csv, index_col=False)
    list_csv.append(df)

df = pd.concat(list_csv)
print('Number cand_id:',len(df['cand_id'].unique()))
print('Number cmte_id:', len(df['cmte_id'].unique()))
print('Number cand_nm:', len(df['cand_nm'].unique()))
print('df.shape:', df.shape)

Number cand_id: 28
Number cmte_id: 28
Number cand_nm: 28
df.shape: (19875, 18)

In [103]:
df.cand_nm.unique()

array(['Trump, Donald J.', 'Delaney, John K.', 'Sanders, Bernard',
       'Yang, Andrew', 'Harris, Kamala D.', 'Inslee, Jay R',
       'Weld, William Floyd (Bill)', 'Hickenlooper, John W.',
       'Booker, Cory A.', 'Moulton, Seth', 'Buttigieg, Pete',
       'Gabbard, Tulsi', 'Warren, Elizabeth ', 'Klobuchar, Amy J.',
       'Biden, Joseph R Jr', 'Williamson, Marianne ',
       'Gillibrand, Kirsten ', 'Bennet, Michael F.',
       'O’Rourke, Robert Beto', 'Bullock, Steve', 'Castro, Julián',
       'Ryan, Timothy J.', 'de Blasio, Bill', 'Steyer, Tom',
       'Gravel, Maurice Robert', 'Sestak, Joseph A. Jr.', 'Walsh, Joe',
       'Swalwell, Eric Michael'], dtype=object)

In [101]:
cand_nm = ['Trump, Donald J.', 'Warren, Elizabeth ', 'Buttigieg, Pete', 'Biden, Joseph R Jr','' ]
df[cand_nm == '']
df.isna().sum()


df.contbr_occupation.value_counts()a

NOT EMPLOYED                              3106
ATTORNEY                                  2375
RETIRED                                    903
CONSULTANT                                 805
LAWYER                                     506
CONDUIT TOTAL LISTED IN AGG. FIELD         331
PHYSICIAN                                  245
TEACHER                                    228
ANALYST                                    183
INFORMATION REQUESTED                      174
PROFESSOR                                  154
MANAGER                                    148
CEO                                        145
EXECUTIVE                                  144
ECONOMIST                                  142
PROGRAM MANAGER                            131
SOFTWARE ENGINEER                          122
DIRECTOR                                   115
REALTOR                                    111
CHST                                       111
EXECUTIVE DIRECTOR                         104
ARCHITECT                                  101
VICE PRESIDENT                              99
PRESIDENT                                   95
COMMUNICATIONS                              92
WRITER                                      91
REAL ESTATE                                 86
RESEARCHER                                  82
IT                                          82
POLICY ANALYST                              78
                                          ...
TRADE ASSOCIATION PRESIDENT                  1
NONPROFIT ASSOCIATE                          1
HUMAN RESOURCES GENERALIST                   1
SOFTWARE ENGINEERING                         1
PRIVATE INVESTOR                             1
HEALTHCARE POLICY CONSULTANT/LOBBYIST        1
REGISTERED LOBBYIST                          1
VP FOR GOVERNMENT RELATIONS & COMMUNIT       1
WEALTH MANAGEMENT ADVISOR                    1
CHIEF INVESTMENT OFFICER                     1
BAR TENDER                                   1
OFFICE OPERATIONS                            1
RESTAURATEUR                                 1
LAYWER                                       1
LAWYER-LOBBYIST                              1
PSYCHOMETRIST                                1
LANDSCAPE DESIGNER                           1
DIRECTOR, FEDERAL ADVOCACY AND POLICY        1
SPEECH AND LANGUAGE PATHOLOGIST              1
PATENT MANAGER                               1
DATABASE ADMINISTRATOR                       1
GOVERNMENT CONTRACTOR                        1
KNOWLEDGE LAWYER                             1
ASSOCIATE GENERAL COUNSEL                    1
DIRECTOR GLOBAL CIVIC ENGAGEMENT             1
NON PROFIT ADVOCACY                          1
US HOUSE OF REPRESENTATIVES                  1
TENNIS MARKETING                             1
CONSULT                                      1
IT ENGINEER                                  1
Name: contbr_occupation, Length: 1404, dtype: int64

In [53]:
df.contbr_city.value_counts()

WASHINGTON         19816
TOKYO                 16
BOLLING AFB           14
BEAR                   5
ALPINE                 4
NORTHRIDGE             3
GEORGETOWN             3
WEXFORD                3
WASHINGT               1
MOUNT PLEASANT         1
VERO BEACH             1
WASHINGTON D.C.        1
DC                     1
WASHINGTON DC          1
HELSINKI               1
GREENVILLE             1
WOODLAWN               1
CANBERRA               1
Name: contbr_city, dtype: int64